services:
  postgres:
    image: postgres:18
    volumes:
      - ./docker/data:/var/lib/postgresql
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: tagether
      POSTGRES_PASSWORD: root
      POSTGRES_DB: tagether

  front:
    image: node:20
    user: node
    ports:
      - '3009:3009'
    volumes:
      - .:/front
    working_dir: /front
    entrypoint: 'npm run dev'
