// TAGether - Share self-made exam for classmates
// CopyRight (c) 2020-2023 watasuke
//
// Email  : <watasuke102@gmail.com>
// Twitter: @Watasuke102
// This software is released under the MIT or MIT SUSHI-WARE License.
@use '../../../../components/common/variable';
.exam_area_wrapper_base {
  margin: -16px;
  display: flex;
  width: 100dvw;
}
.exam_area_wrapper_normal {
  height: calc(100dvh - 40px);
  @media screen and (min-width: 701px) and (max-width: 900px) {
    height: calc(100dvh - 68px);
  }
}
.exam_area_wrapper_mobile {
  padding-bottom: 160px;
  .button_container {
    position: sticky;
    top: 40px;
    @media screen and (min-width: 701px) and (max-width: 900px) {
      top: 68px;
    }
  }
}

.exam_area {
  width: 100%;
  height: 100%;
  display: grid;
}
.exam_area_normal {
  // prettier-ignore
  grid-template:
    'button   button'   auto 
    'question question' auto
    'answer   result'   1fr / 1fr 1fr;
}
.exam_area_mobile {
  // prettier-ignore
  grid-template:
    'button'   auto 
    'question' auto
    'answer'   auto
    'result'   1fr / 1fr;
}

.question {
  grid-area: question;
  padding: 4px 8px;
  font-size: 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-bottom: 2px dotted variable.$color-fg;
  overflow-y: scroll;
}
.answer {
  grid-area: answer;
  padding: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-height: 240px;
}

.result {
  grid-area: result;
  padding: 4px 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.4em;
}
.result_label {
  margin: 0;
  font-size: 0.85em;
  opacity: 0.7;
}

.button_container {
  grid-area: button;
  z-index: 640;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: rgba(variable.$color-bg, 0.92);
  border-bottom: 2px solid variable.$color-fg;
}

.current_index_status {
  text-align: center;
  font-size: 1.5em;
}
.button_wrapper_left {
  display: flex;
  gap: 8px;
}
.button_wrapper_right {
  margin-left: auto;
}
