/*
 TAGether - Share self-made exam for classmates
 ExamHistoryItem.module.scss

 CopyRight (c) 2020-2022 Watasuke
 Email  : <watasuke102@gmail.com>
 Twitter: @Watasuke102
 This software is released under the MIT or MIT SUSHI-WARE License.
*/
@use 'sass:color';
@use '../../../../components/common/variable';

.container {
  display: grid;
  grid-template: 'delete_btn title status redo_btn' auto / auto 1fr auto auto;
  align-items: center;
  gap: 4px 16px;

  @media screen and (max-width: 600px) {
    grid-template-columns: auto 1fr;
    // prettier-ignore
    grid-template:
      'delete_btn title'  auto
      'redo_btn   status' auto / auto 1fr;
  }
}

.delete_button {
  grid-area: delete_btn;
  button {
    width: 100%;
  }
}
.redo_button {
  grid-area: redo_btn;
  width: 136px;
  button {
    width: 100%;
  }
}

.title {
  grid-area: title;
  width: 100%;
  margin: auto;
  color: variable.$color-primary-3;

  &:hover {
    cursor: pointer;
  }
}

.status {
  grid-area: status;
  display: flex;
  flex-direction: column;
  .date {
    color: color.scale(variable.$color-fg, $lightness: -15%);
  }
}

.modal {
  width: 90dvw;
  padding: 24px 12px;
  text-align: center;

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    // ボタン同士の間隔を空ける
    & > * {
      margin: 0 16px;
    }
  }

  .title {
    font-size: 1.3em;
    font-weight: bold;
  }
}
