$color-bg: #282c34;
$color-fg: #abb2bf;

$color-0: #393f4c;
$color-1: #555e70;
$color-2: #727d94;
$color-3: #8d9bb7;
$color-4: #a9badb;

$color-primary-0: #292540;
$color-primary-1: #524a80;
$color-primary-2: #7b6fc0;
$color-primary-3: #a494fe;

$color-wrong: #e06c75;

$color-transparent: #00000000;
$color-transparent-half: #00000088;
